<p routerLink="/tabla">tabla</p>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario con Estilo</title>
    <link rel="stylesheet" href="registro.component.css"> <!-- Aquí se vincula el archivo CSS -->
</head>
<div class="container mt-5">
  <div class="col-lg-6 offset-lg-3">
    <div class="card">
      <div class="card-body text-center">
        <span class="title">{{ title  }}</span>
        <div class="imagen"></div>
        <form class="mt-3" [formGroup]="registroForm" (ngSubmit)="addRegistro()">
          <div class="mb-3">
            <input type="text" formControlName="nombre" class="form-control form-control-lg" placeholder="Registro nombre">
            <div class="text-danger"
              *ngIf="registroForm.get('nombre')?.hasError('required') && registroForm.get('nombre')?.touched">
              <span>El nombre es requerido</span>
            </div>
          </div>

          <div class="mb-3">
            <input type="text" formControlName="apellido" class="form-control form-control-lg" placeholder="apellido">
            <div class="text-danger"
              *ngIf="registroForm.get('apellido')?.hasError('required') && registroForm.get('apellido')?.touched">
              <span>El apellido es requerido</span>
            </div>
          </div>

          <div class="mb-3">
            <input type="text" formControlName="motivo" class="form-control form-control-lg" placeholder="motivo">
            <div class="text-danger"
              *ngIf="registroForm.get('motivo')?.hasError('required') && registroForm.get('motivo')?.touched">
              <span>El motivo es requerido</span>
            </div>
          </div>

          <div class="mb-3">
            <input type="text" formControlName="referencias" class="form-control form-control-lg" placeholder="referencias">
            <div class="text-danger"
              *ngIf="registroForm.get('referencias')?.hasError('required') && registroForm.get('referencias')?.touched">
              <span>La referencia es requerida</span>
            </div>
          </div>

          <div class="mb-3">
            <input type="text" formControlName="encargado" class="form-control form-control-lg" placeholder="encargado">
            <div class="text-danger"
              *ngIf="registroForm.get('encargado')?.hasError('required') && registroForm.get('encargado')?.touched">
              <span>El encargado es requrido</span>
            </div>
          </div>

          <div class="mb-3">
            <input type="text" formControlName="ubicacion" class="form-control form-control-lg" placeholder="ubicacion">
            <div class="text-danger"
              *ngIf="registroForm.get('ubicacion')?.hasError('required') && registroForm.get('ubicacion')?.touched">
              <span>La ubicacion es requerida</span>
            </div>
          </div>

          <div class="mb-3">

            <button routerLink="/" class="btn btn-secondary btn-lg float-start">Inicio</button>
            <button type="submit" [disabled]="productForm.invalid"
              class="btn btn-success btn-lg float-end">Registrar Datos</button>

          </div>



        </form>
      </div>
    </div>
  </div>
</div>
