
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="inicio.component.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <img src="/src/app/components/inicio/images/descarga.jpg" alt="" class="logo"> <!-- Agregando la imagen en la parte superior izquierda -->
            <h1 class="registro-title">Registro</h1> <!-- Agregando el título "Registro" centrado -->
        </div>
        <div class="image-container">
            <h1>Accion Humana de la Luz Eterna - AHLE</h1>
            <div class="buttons-top">
                <button routerLink="/tabla">Registro Ingreso</button>
                <button>Datos Generales</button>
                <button>Datos Clinicos</button>
                <button>Datos Psicologicos</button>
            </div>
            <div class="buttons-bottom">
                <button>Informacion Encargado</button>
                <button routerLink="/tabla-historial">Informacion Educativa</button>
                <button>Ex-Internos</button>
            </div>
        </div>
    </div>
</body>
</html>
